@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Общий шрифт для всего что есть на сайте и центрирование элементов по центру */
* {
    font-family: Comfortaa;
    text-align: center;
    margin: auto;
}
/* отступ сверху*/
body { 
    margin-top: 20px;
    background: #373A36;

}
/* Добавляю отступы снизу между элементами */
.all div {
    max-width: 700px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 30px;
}
.all {
    background: #E6E2DD;
    width: 50%;
    height: 100%;
    border-radius: 25px;
}
.all p {
    font-size: 15px;
    padding: 10px;
}
.all .first, .all .second {
    margin-top: 50px;
}
.all .calculateResult {
    padding-top: 40px;
}
/* Центрирую окошки, убираю изначальную стилистику бордера */
.first, .second, input {
    border-radius: 20px;
    border-style: none;
    height: 25px;
}

/* Увеличиваю окошки в ширину; Увеличение паддинга */
input {
    width: 60%;
    padding: 20px;
    font-size: 14px;
    outline: none;
    border: 2px solid rgb(187, 186, 186);
    background: none
}
/* Увеличение размера шрифта у абзаца и тега <p> */
div h4, div p {
    font-size: 1.5rem;
}
/* Стилистика кнопки */
.btn1C {
    border-style: none;
    border-radius: 20px;
    height: 30px;
    width: 30%;
}

/* Стилизация текста внутри кнопки */
.btn1C p {
    margin: auto;
    font-size: 15px;
    border-radius: 20px;
}
/* Изменение цвета кнопки, при наведении */
.btn1C:hover{
    opacity: 0.8;
    /* background: #FFFAF0; */
}
/* Удаление обводки у кнопок */
button {
    background: none;
    padding-top: 50px;
    padding-bottom: 0;
}
button:last-child {
    margin-top: none;
    padding: none;
}

/* Изменение цвета фона у кнопки при нажатии */
/* .btn1C:active {
    background: #eee
} */
/* Убрать стрелки у input - number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Стилизация текста "Рассчитать расход" */
.calculateResult {
    margin-top: 0;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

/* Стилизация кнопок */
.btn1C {
    border-style: none;
    border-radius: 20px;
    height: 40px;
    width: 35%;
}
.third button p{
    color: #181818;
}
.result button {
    margin: 20px;
    padding: 0;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.third {
    display: flex;
    margin-left: 20px;
    padding: 30px, 0;
    width: 70%;
}
h4 {
    padding: 20px
}

/* Адаптивная верстка, увеличение объектов для мобильных телефонов */
@media (max-width: 429px) {
    /* Увеличение высоты у инпутов */
    .all {
        width: 90%;
        height: auto;
    }
    .all div .result {
        padding-bottom: 10px;
    }
    .first, .second, input {
        height: 50px;
    }
    /* Увеличение высоты у кнопки*/
    .btn1C {
        height: 30px;
        width: 40%;
    }
    
    body {
        text-align: center;
    }
    /* Увеличение результата */
    div h4, p{
        font-size: 2rem;
    }
    .result p {
        padding-bottom: 20px;
        font-size: 1.1rem;
    }
    
    
}
