@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Общий шрифт для всего что есть на сайте и центрирование элементов по центру */
* {
    font-family: Comfortaa;
    text-align: center;
}
/* Задний фон и отступ сверху*/
body { 
    background: #ddd;
    margin-top: 100px;
}
/* Добавляю отступы снизу между элементами */
.all div {
    max-width: 700px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}
/* Центрирую окошки, убираю изначальную стилистику бордера */
.first, .second, input {
    border-radius: 20px;
    border-style: none;
    height: 25px;
}
/* Увеличиваю окошки в ширину; Увеличение паддинга */
input {
    width: 100%;
    padding: 20px;
    font-size: 16px;
    outline: none;
}
/* Увеличение размера шрифта у абзаца и тега <p> */
div h4, div p {
    font-size: 1.5rem;
}
/* Стилистика кнопки */
.btn1C {
    border-style: none;
    border-radius: 20px;
    height: 30px;
    width: 30%;
}
/* Стилизация текста внутри кнопки */
.btn1C p {
    margin: auto;
    font-size: 15px;
}
/* Изменение цвета кнопки, при наведении */
.btn1C:hover{
    opacity: 0.8;
    /* background: #FFFAF0; */
}
.btn1C:active {
    background: #eee
}
/* Убрать стрелки у input - number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
button {
    color: black
}
/* Адаптивная верстка, увеличение объектов для мобильных телефонов */
@media (max-width: 416px) {
    /* Увеличение высоты у инпутов */
    .first, .second, input {
        height: 100px;
    }
    /* Увеличение высоты у кнопки*/
    .btn1C {
        height: 100px;
    }
    /* Увеличение размера шрифта у тега <p> */
    .result1C {
        font-size: 1.5rem;
    }
    body {
        text-align: center;
    }
    /* Увеличение результата */
    div h4, p{
        font-size: 2rem;
    }
    .btn1C {
        border-style: none;
        border-radius: 20px;
        height: 40px;
        width: 100%;
        margin-bottom: 10px;
    }
}