@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Общий шрифт для всего что есть на сайте */
* {
    font-family: Comfortaa;
}
/* Задний фон и центрирование элементов по центру */
body {
    background: #ddd;
    text-align: center;
}
/* Добавляю отступы снизу между элементами */
.all div {
    margin-bottom: 10px;
    margin-top: 10px;
}
/* Центрирую окошки, убираю изначальную стилистику бордера */
.first, .second, input {
    border-radius: 8px;
    border-style: none;
    height: 25px;
}
/* Увеличиваю окошки в ширину */
input {
    width: 304px;
    padding: 10px;
}
/* Стилистика кнопки */
.btn1C {
    border-style: none;
    border-radius: 20px;
    height: 20px;
    width: 300px;
}
/* Изменение цвета кнопки, при наведении */
.btn1C:hover{
    background: #FFFAF0;
}
.btn1C:active {
    background-color: red;
}
/* Убрать стрелки у input - number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
